@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor);
  /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: theme("fontFamily.sans", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
  /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: theme("fontFamily.mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  opacity: 1;
  /* 1 */
  color: theme("colors.gray.400", #9ca3af);
  /* 2 */
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: theme("colors.gray.400", #9ca3af);
  /* 2 */
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
  /* 1 */
  color: theme("colors.gray.400", #9ca3af);
  /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: theme("colors.gray.400", #9ca3af);
  /* 2 */
}

/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}

html {
  font-size: calc(0.875rem + ((1vw - 7.68px) * 0.1736));
}

html body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #333;
  background-color: #f7f7f7;
}

html body p {
  margin-bottom: 1rem;
  color: #585757;
}

html body a {
  color: #ff8364;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1.3;
}

html body h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

html body h2 {
  font-size: 2.074rem;
}

html body h3 {
  font-size: 1.728rem;
}

html body h4 {
  font-size: 1.44rem;
}

html body h5 {
  font-size: 1.2rem;
}

html body small,
html body .text_small {
  font-size: 0.833rem;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container-grid {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.hero-header-img-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.hero-header-img-text-box-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.hero-header-img-text-box-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero-header-img-text-box-content {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-header-img-text-box-img {
  width: 50%;
  height: auto;
}

.btn {
  padding: 11px 16px;
  gap: 26px;
  width: 96px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 6px;
}

.btn-solid {
  color: #fff;
  background: #ff8364;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.03), 0px 1px 1px rgba(0, 0, 0, 0.04);
}

.layout-box {
  background-color: #fff;
  padding: 90px 0;
}

.hero-header-nav {
  background-color: #fff;
}

.hero-header-nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.hero-header-nav-block h3 {
  margin-top: -1px;
  padding-top: 20px;
}

.hero-header-nav-block img {
  margin-top: -5px;
}

.hero-header-nav-block-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 350px;
}

.hero-header-nav-block-links li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
  color: #1c1c1c;
}

.hero-header-nav-block button {
  margin-left: 16px;
}

.hero-header-img-text-box-content {
  margin-right: 15px;
}

.hero-header-img-text-box-content h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.hero-header-img-text-box-content p {
  height: 90px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.hero-header-img-text-box-img {
  margin-left: 15px;
}

.content-1-box-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
}

.content-1-box-header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 30px;
}

.content-1-box-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-1-box-layout-gall {
  display: -ms-grid;
  display: grid;
  gap: 0.625rem;
  -ms-grid-columns: (minmax(0, 1fr))[2];
      grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 50%;
  margin-right: 35px;
}

.content-1-box-layout-gall img {
  width: 100%;
  height: auto;
}

.content-1-box-layout-gall img:first-of-type {
  grid-column: span 2 / span 2;
}

.content-1-box-layout-header {
  width: 50%;
  margin-left: 35px;
  margin-top: 45px;
}

.content-1-box-layout-header-content h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.content-1-box-layout-header-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.content-2-box-header-text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.content-2-box-header-text h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
}

.content-2-box-header-text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
}

.content-2-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content-2-box-flex-sec {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #dbdbdb;
  padding: 129px 60px 50px;
}

.content-2-box-flex-sec h3 {
  margin-bottom: 45px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.content-2-box-flex-sec p {
  margin-top: 45px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.feature-1-box-header {
  padding: 25px 25px;
  text-align: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.feature-1-box-header h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
}

.feature-1-box-header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
}

.feature-1-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.feature-1-box-icons-content {
  width: 50%;
  padding: 0 16px 20px;
}

.feature-1-box-icons-content img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-1-box-icons-content h4 {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
}

.feature-1-box button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-2-box-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.feature-2-box-grid-box {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 30px 30px;
}

.feature-2-box-grid-box-icon-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 10px;
}

.feature-2-box-grid-box-icon-head img {
  display: block;
}

.feature-2-box-grid-box-icon-head h4 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-left: 5px;
}

.feature-2-box-grid-box p {
  margin-top: 1rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.feature-3-box-content {
  padding: 110px 0;
  padding-right: 110px;
}

.feature-3-box-content-main {
  padding-bottom: 20px;
}

.feature-3-box-content-main h4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
  margin-bottom: 10px;
}

.feature-3-box-content-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.feature-3-box-content-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.feature-3-box-content-logo-section {
  padding-top: 20px;
  gap: 30px;
}

.feature-3-box-content-logo-section img {
  margin-bottom: 10px;
}

.feature-3-box-content-logo-section h4 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.feature-3-box-content-logo-section p {
  margin-top: 5px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.feature-4-box-main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 730px;
  padding-bottom: 30px;
}

.feature-4-box-main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
}

.feature-4-box-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
}

.feature-4-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.feature-4-box-flex-content {
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  width: 31.6%;
  padding: 30px 30px 26px;
}

.feature-4-box-flex-content img {
  margin-bottom: 15px;
}

.feature-4-box-flex-content h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-top: 15px;
}

.feature-4-box-flex-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.feature-4-box-flex-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
}

.feature-5-box-title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 530px;
}

.feature-5-box-title h3 {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #969696;
}

.feature-5-box-title p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
}

.feature-5-box-flex {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0px 30px;
}

.feature-5-box-flex-content {
  width: 50%;
  padding: 0 130px 0;
  margin-bottom: 30px;
}

.feature-5-box-flex-content img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.feature-5-box-flex-content h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-top: 10px;
}

.feature-5-box-flex-content p {
  text-align: center;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
}

.feature-6-box-content {
  padding: 116px 200px 107px;
}

.feature-6-box-content-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 31px 0 53px;
}

.feature-6-box-content-row img {
  margin-right: 15px;
}

.feature-6-box-content-row-text {
  margin-left: 15px;
}

.feature-6-box-content-row-text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
}

.feature-6-box-content-row-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.feature-7-box-main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 730px;
  padding-bottom: 20px;
}

.feature-7-box-main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
}

.feature-7-box-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
}

.feature-7-box-grid {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.feature-7-box-grid-box {
  padding-right: 144px;
}

.feature-7-box-grid-box h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.feature-7-box-grid-box li {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  color: #969696;
  list-style-type: square;
  list-style-position: inside;
  margin-top: 7px;
}

.feature-8-box-main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 700px;
}

.feature-8-box-main h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -1.2px;
}

.feature-8-box-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.3px;
}

.feature-8-box img {
  margin-left: auto;
  margin-right: auto;
}

.feature-8-box-flex {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-top: 30px;
}

.feature-8-box-flex-content {
  text-align: center;
  width: 40%;
  margin: 15px 0 15px;
}

.feature-8-box-flex-content img {
  margin-bottom: 5px;
}

.feature-8-box-flex-content h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
}

.feature-8-box-flex-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
}

.blog-1-box-main {
  width: 50%;
  margin-right: 60px;
}

.blog-1-box-main h6 {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}

.blog-1-box-main h1 {
  margin-top: 10px;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1.2px;
}

.blog-1-box-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin-bottom: 20px;
}

.blog-1-box-main a {
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
}

.blog-1-box-content {
  margin-left: 60px;
  width: 50%;
}

.blog-1-box-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.blog-2-box-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.blog-2-box-layout-content {
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 8px;
  padding: 95px 48px 95px;
}

.blog-2-box-layout-content h4 {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #969696;
}

.blog-2-box-layout-content h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.4px;
}

.blog-2-box-layout-content p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
}

.blog-2-box-layout-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.1px;
}

.blog-3-box-main {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 750px;
  padding-bottom: 30px;
}

.blog-3-box-main h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.blog-3-box-main p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
}

.blog-3-box-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 30px;
}

.blog-3-box-grid-content img {
  width: 100%;
  height: auto;
}

.blog-3-box-grid-content-text {
  padding-top: 20px;
}

.blog-3-box-grid-content-text h6 {
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #969696;
  margin-bottom: 5px;
}

.blog-3-box-grid-content-text h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.4px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.blog-3-box-grid-content-text p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.2px;
  margin-top: 5px;
}

.testimonial-1-box-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 125px;
}

.testimonial-1-box-grid-content {
  width: 50%;
  margin: 0 auto;
  padding: 70px 0 70px;
}

.testimonial-1-box-grid-content p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
}

.testimonial-1-box-grid-content a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.2px;
  margin-top: 10px;
}

.testimonial-1-box-grid-profile {
  padding: 0 120px 0;
}

.testimonial-1-box-grid-profile img {
  margin-bottom: 10px;
}

.testimonial-1-box-grid-profile h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.2px;
  margin-top: 10px;
}

.testimonial-1-box-grid-profile p {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.2px;
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */