// Nav bar
.hero-header-nav {
  background-color: $background;
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    h3 {
      margin-top: -1px;
      padding-top: 20px;
    }
    img {
      margin-top: -5px;
    }

    &-links {
      flex: 1;
      display: flex;
      justify-content: end;
      margin-left: 350px;
      li {
        list-style: none;
        display: inline-block;
        margin-left: 30px;
        color: $black;
      }
    }
    button {
      margin-left: 16px; //26-16px {in utils -10px}
    }
  }
}
